* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flex Container */
.menu-container {
  color: #fff;
  background-color: darkcyan;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.menu {
  border: 1px solid #fff; /* debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.links {
  /* border: 2px dotted #fff; */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}
