@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

/* Flex Container */
.menu-container {
  color: #fff;
  background-color: darkcyan;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.menu {
  border: 1px solid #fff; /* debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.links {
  /* border: 2px dotted #fff; */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995da;
  background-color: #e4ffaa;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social,
.logo,
.subscribe {
  border: 1px solid #4e8dd7;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  /* justify-content: center; acredito q nao necessita */
  align-items: center;
  flex-wrap: wrap; /* faz com não se encaixem, descendo para linha seguinte */
  flex-direction: column;
}

.photo-grid-item {
  border: 3px solid #fff;
  width: 300px;
  height: 300px;
}
