* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flex Container */
.menu-container {
  color: #fff;
  background-color: darkcyan;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.menu {
  border: 1px solid #fff; /* debugging */
  width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.links {
  /* border: 2px dotted #fff; */
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: #5995da;
  background-color: #e4ffaa;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.social,
.logo,
.subscribe{
  border: 1px solid #4E8DD7 ;

}
